<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Super Sprinter 3000</title>
    </head>
    <body>
        <h1>User Story Manager</h1>
        <form action="/story" method="get" >
        <input type="submit" value="Add new story" >
        </form>
        {% if all_story==[]%}
        <h2> There is no .csv file or it's empty</h2>
        {%else%}
        <table border='1px'>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Story</th>
                <th>Criteria</th>
                <th>Business Value</th>
                <th>Estimation</th>
                <th>Status</th>
                <th>Edit / Delete</th>
            </tr>
            {% for story in all_story%}
                <tr>
                    {% for value in story %}
                        <td>
                            {{value}}
                        </td>
                    {%endfor%}
                    <td>
                        <form action="/story/{{story[0]}}" method='get'>
                        <input type="image" id="edit" width="15px" width="15px" alt="Edit" src="/static/edit.png">
                        </form>
                        <form action="/delete_story/{{story[0]}}" method='post'>
                        <input type="image" id="delete" width="15px" width="15px" alt="Delete" src="/static/delete.png">
                        </form>
                </tr>
            {%endfor%}
        {%endif%}
        </table>

    </body>
</html>